footer.footer
  .container
    .footer__content
      .footer__contacts.contacts
        a(href="tel:18889920020").contacts__link.contacts__link--1
          +svg('phone')
          span 1-888-992-00-20
        a(href="mailto:support@site.com").contacts__link.contacts__link--2
          +svg('msg')
          span support@site.com
        ul.contacts__socials.socials
          li.socials__item
            a(href="#").socials__link.socials__link--1
              +svg('fb')
          li.socials__item
            a(href="#").socials__link.socials__link--2
              +svg('tw')
          li.socials__item
            a(href="#").socials__link.socials__link--3
              +svg('google-plus')
      .footer-nav
        .footer-nav__top
          ul.footer-nav__top-list
            li.footer-nav__top-item
              a(href="#").footer-nav__top-link Disclaimer
            li.footer-nav__top-item
              a(href="#").footer-nav__top-link Terms of Use
            li.footer-nav__top-item
              a(href="#").footer-nav__top-link Privacy Policy
            li.footer-nav__top-item
              a(href="#").footer-nav__top-link Revision Policy
            li.footer-nav__top-item
              a(href="#").footer-nav__top-link Money Back Guarantee
        ul.footer-nav__bottom
          li.footer-nav__bottom-item
            a(href="#").footer-nav__bottom-link Perfect dissertation
            a(href="#").footer-nav__bottom-link Write my essay
          li.footer-nav__bottom-item
            a(href="#").footer-nav__bottom-link Thesis writing help
            a(href="#").footer-nav__bottom-link Research paper
          li.footer-nav__bottom-item
            a(href="#").footer-nav__bottom-link Custom essay
  .footer-pay
    .container
      .footer-pay__content
        .footer-pay__text We accept:
        ul.footer-pay__list
          li.footer-pay__item
            a(href="#").footer-pay__link.footer-pay__link--1
              +img('paypal.svg')
          li.footer-pay__item
            a(href="#").footer-pay__link.footer-pay__link--2
              +img('visa.svg')
          li.footer-pay__item
            a(href="#").footer-pay__link.footer-pay__link--3
              +img('master-card.svg')
          li.footer-pay__item
            a(href="#").footer-pay__link.footer-pay__link--4
              +img('american-express.svg')
          li.footer-pay__item
            a(href="#").footer-pay__link.footer-pay__link--5
              +img('discover.svg')
          li.footer-pay__item
            a(href="#").footer-pay__link.footer-pay__link--6
              +img('wire-transfer.svg')

